<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" version="1.0.0" viewmodes="maximized">
    <tizen:application id="01lVnvGMTp.MyTvProject" package="01lVnvGMTp" required_version="3.0"/>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <content src="mytv-angular/index.html"/>
    <icon src="icon.png"/>
	<name>MyTvProject</name>
	<tizen:profile name="tv"/>
    <access origin="*" subdomains="true"/>
</widget>
