.video-wrapper {

  .video {
    position: fixed;
    right: 0;
    bottom: 0;
    width: auto !important;
    height: 100% !important;
  }

  .content {
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 20%;
  }

  .spinner {
    position: absolute;
    top: calc(50% - 50px);
    left: calc(50% - 50px);
  }
}
