.video-list {
  width: auto;
  height: 100%;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .title {
    margin: 0 1em 0 0;
  }

  .list, .list-item {
    width: 100%;
  }

  .list, .list-item:focus {
    background-color: lightblue;
  }

  .list-item.active {
    background-color: #ee6795;
  }

  .example-viewport {
    height: 90vh;
    overflow: hidden;
  }
}
